<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>Inicio - Detalles de Taller</title>
</head>
<body>
    <!--Parte del menu-->
    <header>
        <nav>
            <a href="#">
                <img class="logo" src="/assets/img/halcones.jpg" alt="logo">
            </a>
            <ul class="enlaces-menu">
                <li><a href="#">Talleres</a></li>
                <li><a href="#">Docentes</a></li>
                <li><a href="#">Espacios</a></li>
                <li><a href="#">Horarios</a></li>
            </ul>
            <button class="ham" type="button">
                <span class="br-1"></span>
                <span class="br-2"></span>
                <span class="br-3"></span>
            </button>
        </nav>
    </header>
    <h1>Inicio - Detalles de Talleres</h1>
    <!--Parte de la Tabla-->
    <div id="table-container">
        <table >
            <thead>
                <tr>
                    <th>Taller</th>
                    <th>Docente</th>
                    <th>Espacio</th>
                    <th>Horario</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ajedrez</td>
                    <td>Maria Jose</td>
                    <td>Bliblioteca</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Ajedrez</td>
                    <td>Maria Jose</td>
                    <td>Bliblioteca</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Ajedrez</td>
                    <td>Maria Jose</td>
                    <td>Bliblioteca</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Ajedrez</td>
                    <td>Maria Jose</td>
                    <td>Bliblioteca</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
        <button class="btn-add" id="btn-add">Agregar Taller</button>
    </div>
    <div id="modal-container">
    </div>
    <form action="" class="form" id="form">
        <!-- Grupo Nombre Taller -->
        <div class="form-group" id="group-workshop">
            <label for="workshop" class="form-label">Nombre del Taller</label>
            <div class="form-group-input">
                <input type="text" class="form-input" name="workshop" id="workshop" placeholder="Futbol">
            </div>
            <p class="form-input-error">El nombre de taller solo puede contener letras</p>
        </div>

        <!-- Grupo Nombre Docente -->
        <div class="form-group" id="group-teacher">
            <label for="teacher" class="form-label">Nombre del Docente</label>
            <div class="form-group-input">
                <input type="text" class="form-input" name="teacher" id="teacher" placeholder="Fulanito de Tal">
            </div>
            <p class="form-input-error">El nombre del Docente solo puede contener letras</p>
        </div>

        <!-- Grupo Lugar -->
        <div class="form-group" id="group-space">
            <label for="space" class="form-label">Espacio/Lugar</label>
            <div class="form-group-input">
                <input type="text" class="form-input" name="space" id="space" placeholder="Canchitas">
            </div>
            <p class="form-input-error">El nombre del Lugar solo puede contener letras</p>
        </div>

        <!-- Grupo Tipo de Taller -->
        <div class="form-group" id="group-type-wks">
            <label for="type-wks" class="form-label">Tipo de Taller</label>
            <div class="form-group-input">
                <input type="text" class="form-input" name="type-wks" id="type-wks" placeholder="Cultural">
            </div>
            <p class="form-input-error">El nombre de taller solo puede contener letras</p>
        </div>

        <!-- Grupo Horario -->
        <div class="form-group" id="group-hour">
            <label for="workshop" class="form-label">Horario</label>
            <div class="form-group-input">
                <input type="text" class="form-input" name="hour" id="hour" placeholder="11:00 - 13:00">
            </div>
            <p class="form-input-error">Solo se aceptan numeros y guiones medios</p>
        </div>

        <div class="form-message" id="form-message">
            <p>Por Favor rellena todos los campos del Formulario</p>
        </div>
        <div class="form-group form-btn-enviar">
            <button type="submit" class="form-btn">Agregar Taller</button>
        </div>
    </form>
    <script src="/js/main.js"></script>
    <script src="/js/validations.js"></script>
</body>
</html>